* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url("/img/img_WeatherForecast.jpg");
    height: 100vh;
}

.all_data {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}

.main_header_text {
    flex-direction: row;
    padding-top: 60px;
}

.main_header_text input, button{
    padding: 10px 30px;
    font: italic 20px Georgia;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 35px 0px 35px 0px;
    border-bottom: 5px solid rgba(228, 18, 18, 0.74);
    outline: none;
}

.main_header_text input:hover, button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.main_city_name, .main_weather_forecast, .main_footer {
    flex-direction: column;
    font: italic bold 25px/50px Georgia;
    padding-top: 30px;
    color: #1b1b1bef;
    text-shadow: 3px 3px 20px #8f1414;
}


